body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  background: #004a99;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 80%;
  color: white;
  margin: 20px auto;
  padding: 20px;
  background: #004a99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  color: white;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap; /* allow cards to wrap on smaller screens */
  justify-content: center;
  gap: 40px; /* space between cards */
  margin-top: 30px;
}

.card {
  flex: 0 0 250px; /* fixed width for each card */
  padding: 30px 20px;
  background: rgb(143, 250, 3);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  background: aqua;
  color: black;
}

.card h3 {
  color: #004a99;
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 26px;
  font-weight: bold;
  color: #333;
}
